@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
  --primary: #B9F5D8;
  --secondary: #AAD2BA;
  --tertiary: #6B8F71;
  --bg-color: #1D1E18;
  --link: #D9FFF5;

  background-color: var(--bg-color);
}

.App {
  text-align: center;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.header-div {
  margin: 8px;
}

.header {
  color: var(--secondary);
  font-family: "Nerko One", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 64px;
  margin: 0;
}

.anime-guess {
  width: 24vh;
}

.App-header {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--link);
}

p {
  color: var(--primary);
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

h3 {
  padding: 0px;
  margin: 0px;

  color: var(--primary);
}

.image {
  max-width: 640px;
  max-height: 360px;
}

.btn {
  background-color: var(--tertiary);
  border: none;
  color: var(--link);
  border-radius: 4px;

  width: 96px;
  margin: 4px;
  padding: 4px;
}

.btn:hover {
  background-color: var(--link);

  color: var(--tertiary);
}


.vid-btns {
  background-color: var(--tertiary);
  border: none;
  color: var(--link);

  width: 24px;
  border-radius: 16px;
  margin: 2px;
  padding: 4px;
}

.vid-btns:hover {
  background-color: var(--link);

  color: var(--tertiary);
}

.vid-btns:active {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: scale(0.96);
  box-shadow: -2px -2px -2px -2px var(--bg-color);
}

.vid-btns:disabled {
  background-color: var(--bg-color);
  border: none;
  color: transparent;
}

.anime-guess {
  min-width: 320px;
  min-height: 24px;
}

.guessnum-div {
  border: 1px var(--secondary) solid;
  border-radius: 8px;
  padding: 4px;
}
